*,
html {
    margin: 0;
    padding: 0;
    background-color: #205C42;
    
}

.topBar {
    background-color: #205C42;
    justify-content: space-between;
    display: flex;
}


.topBar button {
    background-color: transparent;
    padding: 15px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}

.title{
    justify-content: center;
    align-items: center;
    display: flex;
}
.title label{
    color:white;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}